.key-features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.key-features-heading {
    font-family: 'Adelle';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-align: center;
    color: #244D61;
    margin-bottom: 2rem;
}

.key-features {
    display: flex;
    flex-direction: column;
}

.key-feature-pair {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.key-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 1rem;
}

.key-feature-icon {
    width: 80px;
    height: 80px;
}

.key-feature-heading {
    font-family: 'Adelle';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    color: #244D61;
    margin: 1rem 0;
}

.key-feature-description {
    font-family: 'VisbyCF';
    font-style: normal;
    font-weight: 200;
    font-size: 23px;
}
    
@media (max-width: 768px) {
    .key-feature {
        width: 100%;
    }
}
    
@media (min-width: 769px) and (max-width: 1024px) {
    .key-feature {
        width: 45%;
    }
}