.frame-33{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: 271px;
    height: 54px;
    left: 50%; /* Added this */
    top: 568px;
    transform: translateX(-50%); /* Added this */
    font-weight: bold;

}

.cta-text{
    width: 198px;
    height: 31px;

    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    text-align: center;

    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hero-heading{
    position: absolute;
    width: 626px;
    height: 69px;
    left: 50%; /* Updated this */
    top: 337px;
    transform: translateX(-50%); /* Added this */

    font-family: 'Adelle';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 69px;
    /* identical to box height */

    text-align: center;

    color: white; 
}

.hero-subheading{
    position: absolute;
    width: 531px;
    height: 78px;
    left: 50%; /* Updated this */
    top: 426px;
    transform: translateX(-50%); /* Added this */
    
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    
    color: white; 
}

  
  

/* Add media queries for tablet and mobile devices */
@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .hero-heading{
    position: absolute;
    width: 626px;
    height: 69px;
    left: 50%; /* Updated this */
    top: 337px;
    transform: translateX(-50%); /* Added this */

    font-family: 'Adelle';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 69px;
    /* identical to box height */

    text-align: center;

    color: #244D61; 
  }

  .hero-subheading{
      position: absolute;
      width: 531px;
      height: 78px;
      left: 50%; /* Updated this */
      top: 426px;
      transform: translateX(-50%); /* Added this */
      
      font-family: 'Visby CF';
      font-style: normal;
      font-weight: 500;
      font-size: 25px;
      line-height: 39px;
      text-align: center;
      
      color: #244D61; 
  }
}
